<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.css"/>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>


    <div th:replace="navbar :: navbar">&nbsp;</div>
    <h1>Favorite Products</h1>

        <tr th:each="product : ${user.getProducts()}">
            <a th:href="${'/product/details?productId='+product.getProductId()}">
                <div class="gallery desc">
                    <td th:text="${product.name}"></td>
                    <img src="https://cb2.scene7.com/is/image/CB2/SnakeTableLampSHF19/?$web_zoom$&190430165808&wid=450&hei=450"></img>
                    <td th:text="${product.description}"></td>
                </div>
            </a>
        </tr>

    </body>
</html>

<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>