<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navbar here -->
<div th:replace="navbar :: navbar">&nbsp;</div>

<h1>Browse Products</h1>

<tr th:each="product : ${products}">
    <a th:href="${'/product/details?id='+product.getProductId()}">
        <div class="gallery desc">
            <td th:text="${product.name}"></td>
            <img src="https://cb2.scene7.com/is/image/CB2/SnakeTableLampSHF19/?$web_zoom$&190430165808&wid=450&hei=450"></img>
            <td th:text="${product.description}"></td>
        </div>
    </a>
</tr>

</body>
</html>

<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>