<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navbar here -->
<div th:replace="navbar :: navbar">&nbsp;</div>
<span sec:authorize="isAuthenticated()">
   <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
        <h1>Users</h1>
            <tr th:each="user : ${users}">
                <a th:href="${'users?id='+user.getUserId()}">
                    <div class="gallery desc">
                        <td th:text="${user.getUserName()}"></td>
                        <td th:text="${user.getEmail()}"></td>
                    </div>
                </a>
            </tr>
   </li>
</span>
</body>
</html>

<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>