<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.css"/>
<head>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

    <div>
        <span th:text="${#authentication.getPrincipal()}"></span>
    </div>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="${'/'}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="${'/products'}">Browse Products</a>
                </li>
                <span sec:authorize="isAuthenticated()">
                    <span sec:authorize="hasAuthority('ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="${'/users'}">User Management</a>
                        </li>
                    </span>
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="${'/products/favorites'}">Favorite Products</a>
                    </li>

                    <li>
                        <a th:href="${'/logout'}">Logout</a>
                    </li>

                </span>
                <span sec:authorize="!isAuthenticated()">
                    <li>
                        <a th:href="${'/user/create'}">Sign up</a>
                    </li>
                    <li>
                        <a th:href="${'/login'}">Login</a>
                    </li>
                </span>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>